<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hello! I’m Amanze Emeka, a Certified DevOps Engineer and an AWS Cloud Practioner having more than 3+ years of overall professional IT experience dealing with Cloud service providers like AWS & GCP, DevOps Implementation, Build & Release engineering and Linux administration. I like working with computers. It's my hobby and my profession.
            </p>
            <p class="paragraph-text justify-text">
                My ability to grasp new concepts swiftly, collaborate seamlessly within teams, and exhibit an unwavering commitment to go above and beyond ensures the success of every project.
            </p>
            <p class="paragraph-text justify-text">
                I have extensive experience developing efficient cloud deployment solutions, seamlessly transitioning multiple projects, and ensuring the smooth delivery of services. Additionally, excel in migrating systems to a cloud-native environment, leveraging the full advantages of a robust and resilient cloud infrastructure.
            </p>
        </div>
    </section>
</div>
